.Rproj.user
.Rhistory
.RData
.Ruserdata
B3_Hackathon_PrePrint_Manuscript_Project-6_Master.docx
B3_Hackathon_PrePrint_Manuscript_Project-6_Master.tex
B3_Hackathon_PrePrint_Manuscript_Project-6_Master.log
